* {
    margin: 0;
    padding: 0;
}

body{
    background: url(./assets/shp.jpg) center center/ cover no-repeat fixed;
}

h1{
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    background-color: #FEDE87;
    /* opacity: 0.7; */
    color: #1E32A5;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #ABF0FF;
}

div#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ABF0FF;
    margin: 0 450px;
    border-radius: 5px;
    border: 2px solid #FEDE87;
}

#container #mini-container {
    font-size: 20px;
    margin: 10px;
}

#mini-container label{
    color: #1E32A5;
    font-weight: 700;
    margin-right: 10px;
}

#mini-container input{
    padding: 3px;
    border-radius: 3px;
    border: 2px solid #FEDE87;
    background-color: whitesmoke;
}

#mini-container button {
    font-size: 14px;
    background-color: #FEDE87;
    border: 2px solid #1E32A5;
    padding: 3px;
    border-radius: 3px;
    margin-left: 4px;
    color: #1E32A5;
    font-weight: 600;
    cursor: pointer;
}
li {
	margin-bottom: 10px;
}

li button {
	font-size: 8px;
	margin-left: 20px;
	color: #666;
}
